
{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'customers/css/customers.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div class="col-md card-dashboard">
                <p class=text-card">Add New Customers</P>
            </div>

            <div class="col-md card-dashboard">
                <p class=text-card">Update Customers</P>
            </div>
        </div>
    </div>

{% endblock %}